.timeline-container {
}

.timeline {
    position: relative;
    padding-inline-start: 0px;
    margin-bottom: 0px;
    list-style-type: none; /* Remove bullet point */
}

.timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: '';
    display: block;
    width: 6px;
    height: 100%;
    margin-left: -3px;
    background: rgb(31, 62, 90);
    background: -moz-linear-gradient(top, rgba(31, 62, 90,0) 0%, rgb(31, 62, 90) 8%, rgb(31, 62, 90) 92%, rgba(31, 62, 90,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
    background: -webkit-linear-gradient(top, rgba(31, 62, 90,0) 0%, rgb(31, 62, 90) 8%, rgb(31, 62, 90) 92%, rgba(31, 62, 90,0) 100%);
    background: -o-linear-gradient(top, rgba(31, 62, 90,0) 0%, rgb(31, 62, 90) 8%, rgb(31, 62, 90) 92%, rgba(31, 62, 90,0) 100%);
    background: -ms-linear-gradient(top, rgba(31, 62, 90,0) 0%, rgb(31, 62, 90) 8%, rgb(31, 62, 90) 92%, rgba(31, 62, 90,0) 100%);
    background: linear-gradient(to bottom, rgba(31, 62, 90,0) 0%, rgb(31, 62, 90) 8%, rgb(31, 62, 90) 92%, rgba(31, 62, 90,0) 100%);
    
    z-index: 0.2;
}

.timeline li {
    padding: 1em 0;
}

.timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.direction-l {
    position: relative;
    margin-right: 50%;
    text-align: right;
}

.direction-r {
    position: relative;
    margin-left: 50%;
    text-align: left;
}

.flag-wrapper {
    position: relative;
    display: inline-block;
    text-align: center;
}

.direction-l .flag-wrapper {
    margin-right: 40px;
}

.direction-r .flag-wrapper {
    margin-left: 40px;
}

.flag {
    position: relative;
    display: inline;
    background: var(--secondaryColor);
    padding: 6px 10px;
    border-radius: 5px;

    font-size: medium;
    font-weight: 600;
    text-align: center;
}

.flag-wrapper .small {
    background: var(--secondaryColorLight);
    font-size: small;
}

.flag-wrapper .large {
    font-size: x-large;
}

.direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    float: right;
}

.direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    float: left;
}

.direction-l .flag:before,
.direction-r .flag:before {
    position: absolute;
    top: 50%;
    margin-top: -6px;

    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 10px;
    border: 2px solid var(--accentColor);
    z-index: 10;
}

.direction-l .flag:before {
    left: 100%;
    margin-left: 34px;
}

.direction-r .flag:before {
    right: 100%;
    margin-right: 34px;
}

.direction-l .flag:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: var(--secondaryColor);
    border-width: 8px;
    pointer-events: none;
}

.direction-r .flag:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: var(--secondaryColor);
    border-width: 8px;
    pointer-events: none;
}

.time-wrapper {
    display: block;

    line-height: 1em;
    font-size: 0.66666em;
    color: var(--accentColor);
    vertical-align: middle;
    border-radius: 5px;
}

.direction-l .time-wrapper {
    float: left;
    margin-top: 3px;
}

.direction-r .time-wrapper {
    float: right;
    margin-top: 3px;
}

.time {
    display: inline-block;
    padding: 4px 6px;
    background: whitesmoke;
}

.desc {
    margin: 1em 40px 0 0;
    font-size: 0.77777em;
    font-style: italic;
    line-height: 1.5em;
}

.direction-r .desc {
    margin: 1em 0 0 40px;
}


@media screen and (max-width: 766px) {

    .timeline {
        width: 100%;
        padding: 16px 0px;
    }

    .timeline li {
        padding: 32px 0px;
    }

    .direction-l,
    .direction-r {
        margin: 0px;
        width: 100%;
        text-align: center;
    }

    .direction-l .flag-wrapper,
    .direction-r .flag-wrapper {
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
    }

    .flag {
        z-index: 15;
    }

    .direction-l .flag:before,
    .direction-r .flag:before {
        position: absolute;
        left: 50%;
        right: 50%;
        margin-left: -6px;
        margin-top: -45px;
    }

    .direction-l .flag:after,
    .direction-r .flag:after {
        content: "";
        position: absolute;
        left: 50%;
        top: -8px;
        height: 0;
        width: 0;
        margin-left: -8px;
        border: solid transparent;
        border-bottom-color: var(--secondaryColor);
        border-width: 8px;
        pointer-events: none;
    }

    .time-wrapper {
        display: block;
        position: relative;
        margin: 0 0 0 0;
        z-index: 14;
    }

    .direction-l .time-wrapper {
        float: none;
    }

    .direction-r .time-wrapper {
        float: none;
    }

    .desc {
        position: relative;
        margin: 1em 0 0 0;
        padding: 1em;
        color: white;
        background: var(--primaryColor);
        -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
        -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
        box-shadow: 0 0 1px rgba(0,0,0,0.20);
        
        z-index: 15;
    }

    .direction-l .desc,
    .direction-r .desc {
        position: relative;
        margin: 1em 1em 0 1em;
        padding: 1em;
        
        z-index: 15;
    }
}