@import "./variables.scss";

@import "bootstrap";

html, body {
    scroll-behavior: smooth;

    a {
        transition: ease-out;
        transition-duration: .1s;
    }

    a:hover {
        transition: ease-out;
        transition-duration: .1s;
    }
}

.component {
    padding: 60px 0px;
    min-height: 100vh;
}

@import "./components/background.scss";

@import "./components/navbar.scss";

@import "./components/footer.scss";

@import "./pages/profile-card.scss";

@import "./pages/timeline.scss";

@import "./pages/skills.scss";

@import "./pages/projects.scss";

@import "./pages/certificates.scss";

@import "./pages/contact.scss";
