@import './fonts';
@import './colors';
@import './sizing';

html,
body {
  font-family: $font-family-sans-serif;
  font-display: swap;

  color: $light;

  max-width: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

main {
  margin: auto;
  max-width: $componentMaxWidth;
}

main > div {
  margin: 7.5rem 0;
}

a {
  color: $link;
  transition: ease-out;
  transition-duration: 0.1s;
}

a:hover {
  color: lighten($link, 10%);
  transition: ease-out;
  transition-duration: 0.1s;
}
