@import "./main.scss";

@import "../../node_modules/bootstrap/scss/bootstrap";

@import "./page-bg.scss";

.profile-card-container {
    padding: 160px 0px;

    .profile-card {
        border-radius: 10px;
        background-color: rgba(31, 62, 90, 0.5);

        a {
            color: $gray-200;
            transition: ease-out;
            transition-duration: .2s
        }

        a:hover {
            color: #3972A7;
            transition: ease-out;
            transition-duration: .2s
        }

        p {
            font-size: larger;
        }

        .profile-img {
            height: 160px; 
            width: 160px;
            border: $secondary;
            border-radius: 50%;
            border-style: solid;
            border-width: 5px;
            transition: ease-out;
            transition-duration: .2s;
        }

        .profile-img:hover {
            border: lighten($secondary, 10%);
            border-radius: 50%;
            border-style: solid;
            border-width: 5px;
            transition: ease-out;
            transition-duration: .2s;
        }
    }
}



.resume {
    @extend .container;
    @extend .pt-3;

    .block-entry {
        @extend .row;
        padding: 2%;
        margin: 2%;
        background-color: $primary;
        border-radius: 5px;
    
        .date-block {
            @extend .col-sm-2;
            @extend .text-center;
            @extend .my-auto;
    
            .date {
                @extend h6;
            }
        }

        .text-block {
            @extend .col-sm-10; 
            @extend .text-center; 
            @extend .text-sm-left;

            .title {
                @extend h4;
            }

            .subtitle {
                @extend h6;
            }
        }
    }

    @media (max-width: 576px) {     
        .block-entry {
            margin-top: 4.5%;
            margin-bottom: 4.5%;
        }
    
        .block-img {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
}



.icon {

    .icon-imported {
        height: 27.99px;
    }
    
    .android {
        color: #a4c639;
    }
    
    .js {
        color: #F0DB4F;
    }
    
}


@import "./footer.scss";



