@import '../styles/colors';

.errorContainer {
  display: flex;
  flex-direction: column;

  height: 100vh;

  div {
    margin: auto;
    text-align: center;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }
}
