.projects {
    @extend .container;
    @extend .component;

    .block-entry {
        @extend .col-lg-4;
        @extend .p-2;
    
        .block-entry-content {
            @extend .h-100;
            @extend .p-4;
            
            background-color: $primary;
            border-radius: 5px;

            .icon-block {
                @extend p;

                .icon {
                    @extend .px-1;
                }
            }

            .text-block {

                button {
                    @extend .btn; 
                    @extend .btn-secondary;
                }

                .title {
                    @extend .row;
                    @extend .justify-content-start;

                    .title-text {
                        @extend .col-md-auto;
                        @extend h3;
                    }
                }

                .description {
                }
            }

            button {
                vertical-align: top !important;
            }
        }
    }

    @media (max-width: 576px) {     
        .block-entry {
            margin-top: 4.5%;
            margin-bottom: 4.5%;
        }
    
        .block-img {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
}