@import '../styles/colors';

.contact {
  display: flex;
  flex-direction: column;
  margin: 7.5rem 0;

  button {
    font-size: medium;
  }
}

.contact > div {
  margin: 0.75em auto;
}

.title {
  font-size: x-large;
  font-weight: 700;
}
