@import "@styles/colors.scss";

nav {
    background-color: $dark;
    box-shadow: 0px 0px 10px 5px $dark;

    .navbar-brand {
        padding: 0px;
        height: 30px;
        width: 30px;
    }

    .navbar-brand-img {
        transition: ease-out;
        transition-duration: 0.2s;
    }

    .navbar-brand-img:hover {
        transition: ease-out;
        transition-duration: 0.2s;
        box-shadow: 0px 0px 5px lighten($secondary, 10%);
    }

    button {
        vertical-align: top;
    }

    .nav-link-external {
        transition: ease-out;
        transition-duration: 0.2s;
        color: lighten($secondary, 10%);
        font-weight: bold;
    }

    .nav-link-external:hover {
        transition: ease-out;
        transition-duration: 0.2s;
        color: lighten($secondary, 20%);
    }
}
