@import '../styles/colors';

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 2em;
  justify-content: space-evenly;
  margin: 0 0.5rem;

  button {
    padding: 0.25em;
    font-size: small;
  }
}
