@import '../styles/colors';
@import '../styles/fonts';
@import '../styles/sizing';

.container {
}

.tables {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.table {
  margin: 0.5em 1.5em;

  .title {
    font-size: large;
    font-weight: 700;
    margin: 0.2em;
  }

  table {
    width: 280px;
    border-spacing: 0.2em;
  }

  th {
    width: 170px;
    text-align: left;
  }
}

.linkContainer {
  margin: 1em 0;
  display: flex;
  justify-content: center;

  a {
    color: $light;
    font-size: small;
  }
}

.invisible {
  color: transparent;
}
