@import "./custom.scss";

@import "../../node_modules/bootstrap/scss/bootstrap";

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.component {
    padding: 100px 0px;
    min-height: 700px;
}

@import "./page-bg.scss";

@import "./header.scss";

@import "./navbar.scss";

@import "./profile-card.scss";

@import "./resume.scss";

@import "./timeline.scss";

@import "./certificates.scss";

@import "./contact.scss";

@import "./footer.scss";



