@import "./custom.scss";

@import "../../node_modules/bootstrap/scss/bootstrap";

.component {
    padding: 100px 0px;
    min-height: 100vh;
}

.icon {

    .icon-imported {
        height: 27.99px;
    }
    
    .android {
        color: #a4c639;
    }
    
    .js {
        color: #F0DB4F;
    }
    
}

@import "./page-bg.scss";

@import "./header.scss";

@import "./navbar.scss";

@import "./profile-card.scss";

@import "./resume.scss";

@import "./timeline.scss";

@import "./certificates.scss";

@import "./contact.scss";

@import "./footer.scss";



