.resume {
    @extend .container;

    .block-entry {
        @extend .row;
        padding: 2%;
        margin: 2%;
        background-color: $primary;
        border-radius: 5px;
    
        .block-entry-content {
            @extend .col-sm; 
            @extend .text-center; 
            @extend .text-sm-left;
            @extend .my-auto;

            .icon-block {
                @extend h3;
            }

            .text-block {

                button {
                    @extend .btn; 
                    @extend .btn-secondary;
                }

                .title {
                    @extend h3;
                }

                .description {
                }
            }
        }
    }

    @media (max-width: 576px) {     
        .block-entry {
            margin-top: 4.5%;
            margin-bottom: 4.5%;
        }
    
        .block-img {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
}
